<section class="apps">

  {% for app in site.data.projects %}
  {% if app.type == 'app' and app.display contains page.display_filter %}
  <!-- {{ app.name }} -->
  <!-- {{ app.desc }} -->
  <div class="app">
    <div class="app-icon">
      <a target="_blank" href="{% if app.web %}{{ app.web }}{% elsif app.ios %}{{ app.ios }}{% elsif app.android %}{{ app.android }}{% elsif app.amazon %}{{ app.amazon }}{% else %}#{% endif %}">
        <img
          class="{% if app.border %}border{% endif %}"
          src="{% if app.icon contains '://' %}{{ app.icon }}{% else %}/public/img/{{ app.icon }}{% endif %}"
          width="100%"
          height="auto"
        >
      </a>
    </div>

    <div class="app-name">{{ app.name }}</div>

    <div class="app-links">
      {% if app.web %}
      <a target="_blank" href="{{ app.web }}">
        <span class="fa-stack fa-lg">
          <i class="fa fa-circle fa-stack-2x"></i>
          <i class="fa fa-globe fa-stack-1x fa-inverse"></i>
        </span>
      </a>
      {% endif %}

      {% if app.ios %}
      <a target="_blank" href="{{ app.ios }}">
        <span class="fa-stack fa-lg">
          <i class="fa fa-circle fa-stack-2x"></i>
          <i class="fa fa-apple fa-stack-1x fa-inverse"></i>
        </span>
      </a>
      {% endif %}

      {% if app.android %}
      <a target="_blank" href="{{ app.android }}">
        <span class="fa-stack fa-lg">
          <i class="fa fa-circle fa-stack-2x"></i>
          <i class="fa fa-android fa-stack-1x fa-inverse"></i>
        </span>
      </a>
      {% endif %}

      {% if app.amazon %}
      <a target="_blank" href="{{ app.amazon }}">
        <span class="fa-stack fa-lg">
          <i class="fa fa-circle fa-stack-2x"></i>
          <i class="fa fa-amazon fa-stack-1x fa-inverse"></i>
        </span>
      </a>
      {% endif %}
    </div>
  </div>

  {% endif %}
  {% endfor %}

</section>
