<footer class="footer">
  <div class="container">
    <h2 style="text-align: center;">Let's Connect</h2>

    <ul class="nav" style="font-size: 20px;">
      <li>
        <a target="_blank" href="mailto:{{ site.author.email }}">
          <span class="fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-envelope fa-stack-1x fa-inverse"></i>
          </span>
        </a>
      </li>

      <li>
        <a target="_blank" href="{{ site.author.twitter }}">
          <span class="fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
          </span>
        </a>
      </li>

      <li>
        <a target="_blank" href="{{ site.author.linkedin }}">
          <span class="fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-linkedin fa-stack-1x fa-inverse"></i>
          </span>
        </a>
      </li>

      <li>
        <a target="_blank" href="{{ site.author.github }}">
          <span class="fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-github fa-stack-1x fa-inverse"></i>
          </span>
        </a>
      </li>

      <li>
        <a target="_blank" href="{{ site.author.instagram }}">
          <span class="fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-instagram fa-stack-1x fa-inverse"></i>
          </span>
        </a>
      </li>

      <!-- <li>
        <a target="_blank" href="{{ site.author.appstore }}">
          <span class="fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-apple fa-stack-1x fa-inverse"></i>
          </span>
        </a>
      </li> -->

      <!-- <li>
        <a target="_blank" href="{{ site.author.googleplay }}">
          <span class="fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-android fa-stack-1x fa-inverse"></i>
          </span>
        </a>
      </li> -->

      <!-- <li>
        <a target="_blank" href="{{ site.author.codepen }}">
          <i class="fa fa-lg fa-codepen"></i>
        </a>
      </li> -->

      <!-- <li>
        <a target="_blank" href="{{ site.author.stack-overflow }}">
          <i class="fa fa-lg fa-stack-overflow"></i>
        </a>
      </li> -->

      <!-- <li>
        <a target="_blank" href="{{ site.author.wordpress }}">
          <i class="fa fa-lg fa-wordpress"></i>
        </a>
      </li> -->

      <!-- <li>
        <a target="_blank" href="{{ site.author.instagram }}">
          <i class="fa fa-lg fa-instagram"></i>
        </a>
      </li> -->
    </ul>
  </div>
</footer>

<!-- <footer class="footer">
  <small>
    I use affiliate links when linking to <a href="https://amazon.com/?tag=buchea-20">Amazon</a> and <a href="https://itunes.apple.com/?at=11l7ss&ct=joshbucheadotcom">iTunes</a>.
  </small>
</footer> -->
