html {
  /*font-family: "PT Serif", Georgia, "Times New Roman", serif;*/
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 2rem 1.5rem;
  line-height: 1.5;
  color: #555;
}

.container {
  max-width: 34rem;
  margin: 0 auto;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: .5rem;
  line-height: 1.1;
  color: #333;
  letter-spacing: -.025rem;
}

a {
  -webkit-transition-delay: 400ms;
    -moz-transition-delay: 400ms;
    -o-transition-delay: 400ms;
    transition-delay: 400ms;
}

.page-title {
  margin-bottom: 2rem;
}

.section-title {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.masthead {
  margin-bottom: 0;
}

.masthead .masthead-title {
  margin-bottom: .5rem;
  font-size: 2rem;
}

.masthead .masthead-title,
.masthead .nav {
  text-align: center;
}

.nav {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.nav li {
  display: inline-block;
}

.nav li + li {
  /*margin-left: .5rem;*/
}

.masthead .nav {
  margin: 20px 0 50px;
  padding: 10px 0;
  /*border-bottom: 1px solid #eee;*/
}

.masthead .nav a {
  padding: 0 0.25em;
  color: #B2BFB9;
}

.masthead .nav a {
  color: #555;
  -webkit-transition: 400ms;
    -moz-transition: 400ms;
    -o-transition: 400ms;
    transition: 400ms;
}

.masthead .nav a:hover,
.masthead .nav a:focus {
  color: #C7C7C7;
}

a:hover, a:focus {
  text-decoration: none;
}

pre {
  overflow-x: auto;
  word-wrap: normal;
  white-space: pre;
  background-color: #f5f5f5;
}

code {
  border-radius: 0;
}

.highlight {
  margin-left: 0;
  margin-right: 0;
  border-radius: 0;
}

.archive-item {
  margin-bottom: 1em;
}

.post-date {
  margin: 0;
  color: #ccc;
}

@media (min-width: 540px) {
  .archive-item {
    margin-bottom: .5em;
  }

  .post-date {
    margin: -.5rem 0 .5rem;
    color: #ccc;
  }

  .archive-date {
    float: right;
  }
}

.footer {
  padding: 30px 0;
}

/**
 * Forms
 */

.form {

  input,
  textarea {
    margin-bottom: 20px;
    padding: 1em;
    border-radius: 4px;
  }

  textarea {
    width: 60%;
  }

  button {
    padding: 1em 2em;
    font-size: 14px;
  }
}

/*@media (min-width: 34em) {
  .masthead-title {
    float: left;
  }
  .masthead .nav {
    text-align: right;
  }
}*/
