<!doctype html>
<html lang="en">

  {% include head.html %}

  <body>

    <div class="container content">
      {% if page.url != "/" %}
      <header class="masthead">
        <h3 class="masthead-title">
          <a href="{{ site.baseurl }}/" title="Home">{{ site.title }}</a>
        </h3>
        <!--
        <ul class="nav">
          <li><a href="{{ site.baseurl }}/">Home</a></li>
          <li><a href="{{ site.baseurl }}/projects">Projects</a></li>
          <li><a href="{{ site.baseurl }}/apps">Apps</a></li>
          <li><a href="{{ site.baseurl }}/about">About</a></li>
          <li><a href="{{ site.baseurl }}/contact">Contact</a></li>
        </ul>
        -->

      </header>
      {% endif %}

      <main class="main">
        {{ content }}
      </main>

      {% include footer.html %}
    </div>


    {% include google-analytics.html %}
  </body>
</html>
