<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

  <body>

    <div class="container content">
      <header class="masthead">
        <h3 class="masthead-title">
          <a href="{{ site.baseurl }}/" title="Home">{{ site.title }}</a>
        </h3>
        <!-- <ul class="nav">
          <li><a href="{{ site.baseurl }}projects">Projects</a></li>
          <li><a href="{{ site.baseurl }}apps">Apps</a></li>
          <li><a href="{{ site.baseurl }}about">About</a></li>
          <li><a href="{{ site.baseurl }}contact">Contact</a></li>
        </ul> -->
        <ul class="nav">
          <!-- <li><a href="http://joshbuchea.com/">Home</a></li> -->
          <li>
            <a target="_blank" href="{{ site.author.github }}">
              <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-github-alt fa-stack-1x fa-inverse"></i>
              </span>
            </a>
          </li>

          <li>
            <a target="_blank" href="{{ site.author.appstore }}">
              <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-apple fa-stack-1x fa-inverse"></i>
              </span>
            </a>
          </li>

          <li>
            <a target="_blank" href="{{ site.author.googleplay }}">
              <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-android fa-stack-1x fa-inverse"></i>
              </span>
            </a>
          </li>

          <li>
            <a target="_blank" href="{{ site.author.twitter }}">
              <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
              </span>
            </a>
          </li>
        </ul>

      </header>

      <main>
        {{ content }}
      </main>

      <footer class="footer">
        <small>
          <!--
          &copy; <time datetime="{{ site.time | date_to_xmlschema }}">{{ site.time | date: '%Y' }}</time>. All rights reserved.
          -->
          I use affiliate links when linking to <a href="http://amazon.com/?tag=joshbuchea-20">Amazon</a> or <a href="https://itunes.apple.com/?at=11l7ss&ct=joshbucheadotcom">iTunes</a>.
        </small>
      </footer>
    </div>

    <!-- Google Analytics -->
    <script>
      window.ga=function(){ga.q.push(arguments)};ga.q=[];ga.l=+new Date;
      ga('create','UA-33680175-1','auto');ga('send','pageview')
    </script>
    <script src="https://www.google-analytics.com/analytics.js" async defer></script>
  </body>
</html>
