<!doctype html>
<html lang="en">

  {% include head.html %}

  <body>

    <div class="container content">
      <header class="masthead">
        <h3 class="masthead-title">
          <a href="{{ site.baseurl }}/" title="Home">{{ site.title }}</a>
        </h3>
        <!--
        <ul class="nav">
          <li><a href="{{ site.baseurl }}/">Home</a></li>
          <li><a href="{{ site.baseurl }}/projects">Projects</a></li>
          <li><a href="{{ site.baseurl }}/apps">Apps</a></li>
          <li><a href="{{ site.baseurl }}/about">About</a></li>
          <li><a href="{{ site.baseurl }}/contact">Contact</a></li>
        </ul>
        -->
        <ul class="nav">
          <li>
            <a target="_blank" href="{{ site.author.github }}">
              <i class="fa fa-lg fa-github"></i>
            </a>
          </li>

          <li>
            <a target="_blank" href="{{ site.author.twitter }}">
              <i class="fa fa-lg fa-twitter"></i>
            </a>
          </li>

          <li>
            <a target="_blank" href="{{ site.author.linkedin }}">
              <i class="fa fa-lg fa-linkedin-square"></i>
            </a>
          </li>

          <li>
            <a target="_blank" href="{{ site.author.appstore }}">
              <i class="fa fa-lg fa-apple"></i>
            </a>
          </li>

          <li>
            <a target="_blank" href="{{ site.author.googleplay }}">
              <i class="fa fa-lg fa-android"></i>
            </a>
          </li>

          <!-- <li>
            <a target="_blank" href="{{ site.author.codepen }}">
              <i class="fa fa-lg fa-codepen"></i>
            </a>
          </li> -->

          <!-- <li>
            <a target="_blank" href="{{ site.author.stack-overflow }}">
              <i class="fa fa-lg fa-stack-overflow"></i>
            </a>
          </li> -->

          <!-- <li>
            <a target="_blank" href="{{ site.author.wordpress }}">
              <i class="fa fa-lg fa-wordpress"></i>
            </a>
          </li> -->

          <!-- <li>
            <a target="_blank" href="{{ site.author.instagram }}">
              <i class="fa fa-lg fa-instagram"></i>
            </a>
          </li> -->

          <li>
            <a target="_blank" href="mailto:{{ site.author.email }}">
              <i class="fa fa-lg fa-envelope"></i>
            </a>
          </li>
        </ul>

      </header>

      <main class="main">
        {{ content }}
      </main>

      <footer class="footer">
        <small>
          I use affiliate links when linking to <a href="https://amazon.com/?tag=buchea-20">Amazon</a> and <a href="https://itunes.apple.com/?at=11l7ss&ct=joshbucheadotcom">iTunes</a>.
        </small>
      </footer>
    </div>

    <!-- Google Analytics -->
    <script>
      window.ga=function(){ga.q.push(arguments)};ga.q=[];ga.l=+new Date;
      ga('create','UA-33680175-1','auto');ga('send','pageview')
    </script>
    <script src="https://www.google-analytics.com/analytics.js" async defer></script>
  </body>
</html>
